<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.jaeuk.hr_module.repository.employee.EmployeeMapper">

    <select id="selectEmployeeById" resultType="Employee">
        SELECT  e.emp_id, e.emp_name, e.work_type, e.work_shift
        FROM    EMP_V e
        WHERE   emp_id = #{empId}
    </select>

    <select id="selectAllEmployees" resultType="Employee">
        SELECT  e.emp_id, e.emp_name, e.work_type, e.work_shift
        FROM    EMP_V e
    </select>

    <insert id="insertEmployee" parameterType="Employee">
        INSERT INTO EMP (emp_name)
        VALUES (#{empName})
    </insert>

    <delete id="deleteEmployee" parameterType="Employee">
        DELETE EMP
        WHERE  1=1
        AND emp_id like #{empId}
    </delete>

</mapper>