{{>layout/header}}

<h1> 모듈 개발 테스트 </h1>
<h4> 더 좋은 구조와 설계, 어제보다 오늘 더 나은 코드 </h4>
<h5> (클린코드, 리팩토링, 이펙티브 자바 등..)</h5>
<br>
<h5> 화면은 의미 없고, 앞으로 더 좋은 설계와 구조, 코드로 개선하고 싶은 모듈을 테스트로 연습삼아 개발하는 환경입니다.</h5>
<h5> 개발 소스(java) / 테스트 소스(junit5)</h5>

<br>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            {{#emp}}
                <a href="/" class="btn btn-info active" role="button">Logout</a>
            {{/emp}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>사원ID</th>
            <th>성명</th>
            <th>근무형태</th>
            <th>근무조</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#emp}} <!-- 유저네임 있으면 -->
            <tr>
                <td> <span id="empId">{{emp.empId}}</span></td>
                <td> <span id="empName">{{emp.empName}}</span></td>
                <td> <span id="workType">{{emp.workType}}</span></td>
                <td> <span id="workShift">{{emp.workShift}}</span></td>
            </tr>
        {{/emp}}

        {{^emp}} <!-- 유저네임 없으면 -->
            {{#empList}}
                <tr>
                    <td>{{empId}}</td>
                    <td><a href="/login/{{empId}}">{{empName}}</a></td>
                    <td>{{#workType}} {{workType.name}} {{/workType}}
                        {{^workType}} 근무형태가 없습니다. {{/workType}} </td>
                    <td>{{#workShift}} {{workShift.name}} {{/workShift}}
                        {{^workShift}} 근무조가 없습니다. {{/workShift}} </td>
                </tr>
            {{/empList}}
        {{/emp}}

        </tbody>
    </table>
</div>

{{>layout/footer}}